---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2022 - Actualmente...",
    title: "Fundador y CEO",
    company: "Integrateck",
    description:
      "Fundé Integrateck con el objetivo de proporcionar accesibilidad al desarrollo de software para pequeñas y medianas empresas. Estamos en plena expansión, creando nuestro propio software de administración para ofrecer una experiencia aún mejor.",
    link: "https://www.integrateck.com.mx",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
